---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";
.gr
{
	color:green !important;
}
.y
{
	color:DodgerBlue;
}
.o
{
	color:Coral;
}
.r
{
	color:Crimson;
}
.t
{
	color:DarkGoldenRod;
}
